# Locale
lang en_US.UTF-8
keyboard pl2
timezone UTC

# Authentication
## Sets up the authentication options - use shadow passwords, use md5 encryption for user passwords
authconfig --enableshadow --enablemd5 #or: auth --useshadow --enablemd5
## Sets the system's root password 
rootpw vagrant

# Kickstart
## Fresh install, not an upgrade
install
## Specify install source - install via HTTP, more SL urls here: http://www.scientificlinux.org/download/mirrors
url --url=http://ftp1.scientificlinux.org/linux/scientific/6.3/x86_64/os/
## Disk Partitioning - how the boot loader should be installed, delete all partitions/mbr, then create new layout
bootloader --location=mbr
zerombr
clearpart --all --initlabel
autopart
## Firstboot - the druid that helps you to set up the system after install - disabled
firstboot --disabled
## Don't use GUI
text
## Don't configure X
skipx
## Reboot the machine after the install
reboot
## Configure NICs - use dhcp
network --bootproto dhcp --hostname=vagrant
## Firewall - enable and open ssh port
firewall --enabled --service=ssh
## Selinux - disable
selinux --disabled
## Add some repos for build additional packages
repo --name=epel --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=epel-6&arch=x86_64 --includepkgs='dkms,tmux'

%packages
## Add basic packages
@core
wget
sudo
gcc
gcc-c++
bzip2
make
kernel-devel
dkms
## Add extra packages
openssh-clients
vim
mc
tmux
## Remove some packages
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
%end

%post
/usr/bin/yum -y upgrade

# to run postinstall scripts later via ssh
# create vbkick user and group
/usr/sbin/groupadd vbkick
/usr/sbin/useradd vbkick -g vbkick -G wheel
# set password 
echo "vbkick" | passwd --stdin vbkick
# give sudo access (grants all permissions to user vbkick)
echo "vbkick ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vbkick
chmod 0440 /etc/sudoers.d/vbkick
# add vbkick's public key - user can ssh without password
mkdir -pm 700 ~vbkick/.ssh
wget --no-check-certificate https://raw.github.com/wilas/vbkick/master/keys/vbkick_key.pub -O ~vbkick/.ssh/authorized_keys
chmod 0600 ~vbkick/.ssh/authorized_keys
chown -R vbkick:vbkick ~vbkick/.ssh

%end
