    _     _   _  ____  ___  ____   _      _____ 
   / \   | \ | |/ ___||_ _|| __ ) | |    | ____|
  / _ \  |  \| |\___ \ | | |  _ \ | |    |  _|  
 / ___ \ | |\  | ___) || | | |_) || |___ | |___ 
/_/   \_\|_| \_||____/|___||____/ |_____||_____|

Location: {{ location }}
OS: {{ ansible_os_family }}
------------------------------------------------------
